@import "./componets/SPRcomps/scss/variables";
@import "./componets/SPRcomps/scss/globals";
@import "./componets/SPRcomps/scss/mixins";

@import "./componets/SPRcomps/scss/score";
@import "./componets/SPRcomps/scss/play";
@import "./componets/SPRcomps/scss/game";
@import "./componets/SPRcomps/scss/footer";
@import "./componets/SPRcomps/scss/modal";
