.home-container {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 66px;
  height: 100vh;
}

.header-container {
  flex-shrink: 0;
}

.content-container {
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  height: 100vh;
  margin-left: 20%;
}

.chats-container {
  flex-grow: 1;
  margin: 1rem;
}

.gamebar-container {
  position: fixed;
  left: 0;
  top: 77px;
  width: 250px;
  height: 100vh;
}

@media screen and (max-width : 768px) {
  .gamebar-container{
    height: 200px;
    width: 100%;
  }
  .content-container{
    display: flex;
    flex-direction: column;
  }

  .chat-nav-container{
    margin-left: 0px !important;
    margin-top: 200px !important;
  }
  .chatNav .header{
    flex-direction: column !important;
  }
}
